body{
    padding:10px;
    margin:0;
}
.search-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border: #dedddc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
.mov-cont{
    position: relative;
    width:100%;
}

.carousel-container{
    width:100vw;
    height:300px;
    position:relative;
    overflow: hidden;
}
.carousel{
    display:inline-block; 
    list-style:none;
    padding:0;
    margin:0;
    transition: transform 800ms ease;
}

.slide{
    padding:0;
    margin:0;
    user-select:none;
    position: absolute;
}

.fast-s-size{
    font-size: 20px;
    color: gray;
}
.btn-cust-orange{
    background-color:  #FFC300;
    color:white;
    font-weight: 600;
    width:140px;
    font-size: 20px;
}

.cust-h{
    height: 70px;
}
.Main-text{
    padding-top: 150px;
    padding-left: 150px;
    align-self: flex-start;
    width: 500px;
    position: relative;
    z-index: 0;
}

.subh1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.fas-size{
    color: gray;
    font-size: 20px;
}

li{
    list-style-type: none;
}
a{
    color:black;
}

@media (max-width:799px){
    body{
        overflow-x: hidden;
        padding:0;
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
    }
    .search-bar{
        width:90vw;
        height: 70px;
    }
    .logo-img{
        width:100vw;
    }
    .flexclass{
        display:flex;
        flex-direction: column;
    }
    .dropdown-cont{
        align-self: flex-start;
        background-color:#00B2FF;
        color:white;
        width:50%;
        min-height: 80px;
        padding-top: 20px;
        
    }
    .dropcont{
        align-self: flex-start;
        background-color:#00B2FF;
        color:white;
        min-width:237px;
        min-height: 200px;
        padding-left: 40px;
        padding-top: 10px;
        position: absolute;
        z-index: 1;
        transition: transform 8000ms ease;
    }
    
    .bg-img-cont{
        background-image: url(bg3.jpg);
        height: 80vh;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items:center; 
    }
    .bg-text-h1{
        color: white;
        font-weight: bold;
        text-align: left;
        font-size: 40px;
    }
    .bg-text-p{
        color: white;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
    }
    
    .dropdown-text{
        margin-left: 40px;
        font-size: 14px;
    }
    .fasdrop{
        font-size: 26px;
        padding-top: 10px;
    }

    .item{
        text-align: center;
        width:450px;
        height:250px;
        margin:5px;
    }
    
    .w-comn{
        width:50%;
    }
    .w-comn-25{
        width:50%;
    }
    .botm-flex{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width:800px){
    .search-bar{
        width: 50vw;
        height: 70px;
    }
    .logo-img{
        width:50vw;
    }
    .flexclass{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .botm-flex{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bg-img-cont{
        background-image: url(bg3.jpg);
        height: 80vh;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .dropdown-cont{
        align-self: flex-start;
        background-color:#00B2FF;
        color:white;
        width:30%;
        min-height: 80px;
        padding-top: 20px;
        
    }
    .dropcont{
        align-self: flex-start;
        background-color:#00B2FF;
        color:white;
        min-width:399px;
        min-height: 200px;
        padding-left: 40px;
        padding-top: 10px;
        position: absolute;
        z-index: 1;
        transition: transform 8000ms ease;
    }
    .bg-text-h1{
        color: white;
        font-weight: bold;
        text-align: left;
        font-size: 60px;
    }
    .bg-text-p{
        color: white;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
    }
    
    .dropdown-text{
        margin-left: 40px;
        font-size: 24px;
    }
    
    .item{
        text-align: center;
        width:250px;
        height:250px;
        margin:10px;
    }
    .w-comn{
        width:15%;
    }
    .w-comn-25{
        width:25%;
    }
}